body{
  font-family: roboto;
  font-size: 16px;
}

a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

/* Header */
.header{
  background-color: #7dd9e8;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.header>div{
  width: 30%;
  margin: auto;
}

.site-title{
  font-size: 65px;
  padding-left: 24px;
  font-family: montserrat;
}

.site-search{
  padding-top: 25px;
}

.search{
  width: 65%;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  border: none;
  opacity: 80%;
}
.search-btn{
  width: 25%;
  border-radius: 8px;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  padding: 10px;
  border: none;
}
.user-info{
  text-align: right;
}


/* below header */
.below-header{
  height: 40px;
  background-color: #F5F5F5;
display: flex;
flex-direction: row;
align-items: center;
}

.below-header>div{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.below-header>div>a{
  margin-right: 50px;
  text-align: center;
  }

  .below-header>div>div{
    margin-right: 25px;

    text-align: center;
  }

  /* content  */
  .main-content{
    display: flex;
    flex-direction: row;
    padding-top: 25px;

  }
  .main-content>div{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  
  }

  /* left content */
  .left-content{
    background-color: #F5F5F5;
    width: 20%;
  }

  .left-content>ul{
    list-style-type: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
.left-content>ul>li{
  padding: 8px 16px;
}

.left-content>ul>li:hover{
  background-color: #fff;
}
.left-content>ul>li>i{
  float: right;
  opacity: 60%;
}

  .list-title{
    background-color: #30BED9;
    font-size: 20px;
    padding: 8px 16px;
    color: #fff;
    pointer-events: none;

  }



  /* Center Content */
  .center-content{
   width: 50%;
  }

.center-content-title{
  font-size: 25px;
}

.center-content-tabs{
  display: flex;
  flex-direction: row;
  border-bottom:4px solid #30BED9;
}

.center-content-tabs>div{
background-color: #F5F5F5;
width: 100%;
height: 60px;
padding-top: 15px;
text-align: center;
position: relative;
}

.all-entries{
  border-top-left-radius: 15px;
  margin-right: 5px;
  position: relative;
}
.all-entries>div{
  position: absolute;
  display: flex;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  margin:auto;
}

.subscribed{
  border-top-right-radius: 15px ;
  margin-left: 5px;
}
.subscribed>div{
  position: absolute;
  display: flex;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  margin:auto;
}


.center-buttons{
  margin-left: 10px;
  margin-right: 10px;
    text-align: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #C5C7C6;
  
  border-radius: 15px 15px 0px 0px;
}
.center-buttons:hover{
  background-color: #30BED9;
  color: #fff;
}


.center-activity{
  border-bottom: 1px solid #C5C7C6;
  display: flex;
  flex-direction: row;
  padding: 15px 0px 15px 0px;
}
.center-activity-image>img{
  height: 75px;
  width: 75px;
  border-radius: 5px;
}

.center-activity-detail{
  padding-left: 15px;
}
.center-activity-detail>div>a{
  color: #30BED9;
  font-weight: bold;
}

.activity-title{
font-weight: bold;
}
.activity-title>div>a{
  color: #000;
}






  /* Right Content */
  .right-content{
    background-color: #F5F5F5;
 width: 20%;
  }

  .right-content>ul{
    list-style-type: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
.right-content>ul>li{
  padding: 8px 16px;
}

.right-content>ul>li:hover{
  background-color: #fff;
}

  /* Footer */
  .footer{

    height: 50px;
  margin-top: 50px;
    background-color:#000;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
  }
  .footer>div{
    margin: auto;
  }
  .footer>div>a{
    color: white;
    margin: 5px;
  }

  .footer>div>i{
    font-size: 5px;
  }

  .footer-links{
    float: left;
  }
  .footer-copyright{
    float: right;
  }